:root {
    /* Colores */
    --soap: #CDC3E6;
    --blue-bell: #A491D2;
    --pale-lavender: #D4DCFF;
    --outer-space: #444749;
    --dark-jungle: #1B1F21;
    --old-silver: #828485;
    --platinum: #E8EBE4;
    --white: #FFFFFF;
    --grayb: 1px solid #BEC1BB;
    --gray: #BEC1BB;
/* Tipografía */
    --type1: 'Roboto', sans-serif;
    --type2: 'Open Sans', sans-serif;
/* Font-sizes */
    --l: 45px;
    --m: 16px;
    --s: 14px;
    --xs: 10px;
}

/*agrupando códigos comunes para disminuir lineas (mi anti copywright)*/
body, main, .status {
    width: 100%;
}

main, .perfil, .user, .status, .signal, .menu, .contactos, .principal, .boton, .item, .text {
    display: flex;
}

h1, .item, .text {
    font-family: var(--type1);
}

p, .a, strong, .bprimary  {
   font-family: var(--type2);
}

body {
    margin: 0;
    padding: 0;
    height: max-content;
    overflow: hidden;
}

h1 {
    font-size: var(--l);
    color: var(--dark-jungle);
    margin-bottom: 1rem;
    font-weight: 400;
}

p {
    font-size: var(--s);
    color: var(--outer-space);
}

.a {
    width: 50vh;
    padding: 2rem;
    text-align: center;
    font-size: var(--m);
    color: var(--outer-space);
    margin-bottom: 1rem;
    line-height: 2rem;
}

strong {
    font-size: var(--m);
    font-weight: 700;
    color: var(--dark-jungle);
    margin-bottom: 1rem;
}

.perfil {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: var(--grayb);
    color: var(--gray);
}

.user {
    width: 9rem;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;
    padding-left: 0.5rem;
}

.tiny {
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.status {
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.status p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--old-silver);
}

#username {
    padding-left: 0.5rem;
    font-size: var(--m);
    color: var(--outer-space);
}

.signal {
    align-items: center;
}

.signal span {
    margin-block-start: 0;
    margin-block-end: 0;
}

.point {
    padding: 0 0.3rem;
    font-size: 1.5rem;
    color: green;
}

.menu {
    width: 5rem;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/*Sidebar de los contactos*/
.contactos, .principal {
    min-height: 100vh;
    height: 100vh;
}

.contactos {
    position: relative;
    min-width: 20rem;
    flex-basis: 20rem;
    flex-direction: column;
    background-color: var(--white);
    border-right: var(--grayb);
    color: var(--gray);
    top: 0;
    left: 0;
}

.principal {
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--platinum);
}

.principal img {
    width: 15rem;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

/* Botones */
.boton {
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}

.bprimary {
    border-top: var(--grayb);
    font-size: var(--m);
    background-color: var(--blue-bell);
    color: var(--white);
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
}

.bprimary:hover {
    background-color: var(--soap);
}

.bprimary:focus {
    outline: 2px solid var(--gray);
}

.pic {
    width: 3rem;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    padding: 1rem 0;
    margin-left: 2rem;
}

.item {
    border-top: var(--grayb);
    flex-basis: 3rem;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    color: var(--outer-space);
    font-size: var(--m);
}

.item:hover {
    background-color: var(--pale-lavender);
}

.text {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0;
    color: var(--outer-space);
    font-size: var(--s);
}

.name {
    font-weight: 500;
    font-size: var(--m);
}